.landing-page {
  height: 100%;
  background: linear-gradient($blue 50%, $red 50%);
  padding: 1.5em;
  h1 {
    color: $white;
  }
  .register-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    height: 50%;
    border-radius: 35px;
    .divider {
      border-bottom: 1px solid $light-grey;
      width: 60%;
      align-self: center;
    }
  }
}
