button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 120px;
  width: 250px;
  padding: 1em;
  border-radius: 10px;
  background-color: #423eca;
  border: none;
  box-shadow: 0 10px 6px -6px #777;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  svg {
    font-size: 42px;
    color: $white;
  }
  p.icon-btn-text {
    font-size: 16px;
    color: $white;
    margin: 0;
  }
}
